doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    header
      img.logo(src='/buzzer-logo.svg')

    div.container
      //- input(type='text' id='quest' placeholder='Your name' required='required' onChange="onKeyPressed1()")
      select(id="select_id",onChange="onSelected1()")
          option(value='0') Demo Question 1
          option(value='1') Demo Question 2
          option(value="2") Question 1
          option(value="3") Question 2
          option(value="4") Question 3
          option(value="5") Question 4
          option(value="6") Question 5
          option(value="7") Question 6
          option(value="8") Question 7
          option(value="9") Question 8
          option(value="10") Question 9
          option(value="11") Question 10
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name} on Team ${buzz.team}`
      button.js-clear='Clear buzzes'
      button.js-clear-question='Clear Question'
      hr
      form(action="/logout")
        button="Logout"

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')