doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href='/style.css')
  body
    header
      img.logo(src='/buzzer-logo.svg')

    div.container
      //- input(type='text' id='quest' placeholder='Your name' required='required' onChange="onKeyPressed1()")
      select(id="select_id",onChange="onSelected1()")
          option(value='0') -- Select --
          option(value="1") Question 1
          option(value="2") Question 2
      h2.js-active=`${users.length} joined`
      ol.js-buzzes
        each buzz in buzzes
          li=`${buzz.name} on Team ${buzz.team}`
      button.js-clear='Clear buzzes'
      button.js-clear-question='Clear Question'
      //- button.js-question='Send Question'

    script(src='/socket.io/socket.io.js')
    script(src='/host.js')